<!-- <li>
  <div class="catagory-tile">
    {{#link-to 'catagory' catagory.id}}{{catagory.name}}{{/link-to}}<br>
  </div>
</li> -->
<p>{{catagory.name}}'s Details</p>
<p>Description: {{catagory.description}}</p>

<hr>

<p>Questions in {{catagory.name}}:</p>
<ul>
  {{#each catagory.questions as |question|}}
    <li>{{question.author}}'s question {{question.title}}</li>
  {{/each}}

</ul>

<button {{action 'delete' catagory}}>Delete</button>
